.page {
  composes: app from "../../components/app/app.module.css";
  flex-direction: column;
  min-height: 972px;
  align-items: center;
}
.form {
  min-width: 480px;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content {
  composes: form;
  min-height: 262px;
  justify-content: space-between;
}
.button {
  width: 128px;
}
.text {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #4c4cff;
}
.content > div > div {
  width: 100%;
}