.ingredients__box {
  width: 600px;
}
.ingredients__title {
  line-height: 40px;
}


/* IngredientsCategory */
.ingredient__ul {
  list-style-type: none;
  padding: 0;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 272px);
  column-gap: 24px;
}
.ingredient__li {
  text-decoration: none;
  height: 208px;
}