.ingredients__box {
  width: 600px;
  height: 100%;
}
.ingredients__tab {
  display: flex;
}
.ingredients__title {
  line-height: 40px;
}
.ingredients__category {
  height: 716px;
  overflow: scroll;
  overflow-x: hidden;
}
.ingredients__category::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}
.ingredients__category::-webkit-scrollbar-thumb {
  height: 492px;
  background: #8585ad;
}
