.order_number {
  text-align: center;
}
.order_status {
  composes: stats_item from "../stats/stats.module.css";
}
.order_ingredients {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 312px;
  overflow: scroll;
  overflow-x: hidden;
}
.order_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order_part {
  composes: order_item;
  justify-content: flex-start;
}
.order__digits {
  min-width: max-content;
}
.order_image {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  border: 2px solid #4c4cff;
  background: #131316;
  box-sizing: border-box;
  object-fit: cover;
}
.order_info {
  composes: order_item;
}
.order_price {
  composes: order_item;
  justify-content: flex-end;
}
.order_iconPrice {
  height: 22px;
  width: 22px;
}
.order_ingredients::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}
.order_ingredients::-webkit-scrollbar-thumb {
  height: 194px;
  background: #8585ad;
}
