.app {
  composes: app from "../../components/app/app.module.css";
}
.order_box {
  width: 608px;
  height: 100%;
}
.order_list {
  height: 852px;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
