.page {
  composes: page from "../login/login.module.css";
}
.content {
  composes: login from "../login/login.module.css";
  min-height: 390px;
}
.form {
  composes: content;
  min-height: 286px;
  justify-content: space-between;
}
.wrapper {
  max-width: 480px;
}
/*поля ввода*/
.wrapper div {
  width: 100%;
}
/*картинки слева в полях ввода*/
.wrapper div div div {
  max-width: 24px;
}
.text {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #4c4cff;
}
