.header {
  min-height: 88px;
  background: #1c1c21;
}
.header__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 320px 0;
}
.header__nav {
  margin-right: 112px;
}
.header__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__link {
  display: flex;
  box-sizing: border-box;
  border-radius: 40px;
  text-decoration: none;
  color: #f2f2f3;
}
.header__link:nth-child(3) {
  margin-left: 289px;
}
.header__link:hover {
  cursor: pointer;
}
