.constructor__box {
  width: 600px;
  height: 912px;
}
.constructor__ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 16px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 480px;
  margin-bottom: 0;
}
.constructor__li {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.constructor__li:last-child {
  margin-bottom: 16px;
}
.constructor__ul::-webkit-scrollbar-thumb {
  height: 292px;
}
.constructor__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.constructor__icon {
  width: 33px;
  height: 100%;
}
