.constructor__box {
  width: 600px;
  height: 912px;
}
.constructor__list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 16px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 480px;
  margin-bottom: 0;
}
.constructor__hidden {
  composes: constructor__list;
  overflow: hidden;
}
.constructor__list::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}
.constructor__list::-webkit-scrollbar-thumb {
  height: 492px;
  background: #8585ad;
}
.constructor__element {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.constructor__element:last-child {
  margin-bottom: 16px;
}
.constructor__list::-webkit-scrollbar-thumb {
  height: 292px;
}
.constructor__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0px;
}
.constructor__description {
  display: flex;
  align-items: center;
}
.constructor__icon {
  width: 33px;
  height: 100%;
}
.constructor__dragIcon {
  height: 24px;
}
.constructor__blank {
  justify-content: center;
  background: #1c1c21;
  border-radius: 40px;
  height: 80px;
}
.constructor__bun_type_top {
  composes: constructor__blank;
  border-radius: 88px 88px 40px 40px;
}
.constructor__bun_type_down {
  composes: constructor__blank;
  border-radius: 40px 40px 88px 88px;
}
.constructor__blank:hover {
  opacity: 0.6;
}
.constructor__bun_type_top:hover {
  opacity: 0.6;
}
.constructor__bun_type_down:hover {
  opacity: 0.6;
}
