body {
  margin: 0;
}

/* @font-face {
  font-family: 'Iceland', Arial, Helvetica, sans-serif;
  src: url(./fonts/Iceland-Regular.ttf) format('ttf');
  font-style:  normal;
  font-weight: 400;
}
@font-face {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  src: url(./fonts/JetBrainsMono-Regular.ttf) format('ttf');
  font-style:  normal;
  font-weight: 400;
}
@font-face {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  src: url(./fonts/JetBrainsMono-Bold.ttf) format('ttf');
  font-style: bold;
  font-weight: 700;
} */