@import url("./fonts/fonts.css");

#root {
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}
::-webkit-scrollbar-thumb {
  height: 492px;
  background: #8585ad;
}
.ingredient__title {
  line-height: 30px;
}
